:root {
  --primaryColor: #000000;
  --secondaryColor: #333333;
  --tertiaryColor: #f6f6f6;
}

/* Resetting margins and padding */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--tertiaryColor);
  font-family: "Satoshi", sans-serif;
  display: flex;
}

a {
  text-decoration: none;
}

/* HEADER */
nav,
.nav-link {
  display: flex;
  flex-direction: column;
  color: var(--primaryColor);
  align-items: center;
  background-color: #e9e9ee;
}

nav {
  padding: 45px 0px;
  padding-left: clamp(1em, 2vw, 2em);
  padding-right: clamp(1em, 2vw, 2em);
  position: static;
  z-index: 1;
}

.nav-link {
  position: sticky;
  top: 45px;
}

.nav-link {
  gap: 2em;
}

.nav-icon {
  gap: 1em;
}

.nav-link a {
  color: var(--primaryColor);
  font-size: 20px;
}

.nav-link a:hover {
  color: #666666;
}

.menu-toggle {
  display: none;
}

/* MAIN */
section {
  padding: 45px 0px;
  margin: 5px;
}

.section-title {
  padding-left: clamp(1em, 2vw, 2em);
  color: var(--primaryColor);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

/* ABOUT */
.about {
  height: auto;
  background-image: url("../images/about-background.png");
  border-radius: 25px;
  margin: 5px;
  padding-left: clamp(1em, 2vw, 2em);
  padding-right: clamp(1em, 2vw, 2em);
}
.self-introduction {
  color: var(--secondaryColor);
  font-size: 20px;
}

.my-name {
  color: var(--primaryColor);
  font-size: 40px;
  font-weight: 400;
}

.about p:nth-child(4),
.about p:nth-child(5) {
  margin-top: 1em;
}

.about-section-button {
  display: block;
  width: 266px;
  height: 66px;
  color: var(--primaryColor);
  text-align: center;
  line-height: 60px;
  border: 3px solid var(--secondaryColor);
  border-radius: 10px;
  margin-top: 36px;
  font-size: 20px;
}

.about-section-button:hover {
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);
}

/* WORK */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.project-wrapper {
  display: flex;
}

.project-introduction {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  overflow-y: clip;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding-left: clamp(1em, 2vw, 2em);
}

.project-title {
  color: var(--primaryColor);
  font-size: min(28px, 2.3vw);
}

.project-description-and-live-preview-button {
  padding-top: 0;
  padding-right: clamp(1em, 2vw, 2em);
}

.project-description {
  color: var(--primaryColor);
  font-size: min(20px, 1.4vw);
  padding-top: 0.7em;
}

.live-preview-button {
  padding: 10px 25px;
  color: var(--primaryColor);
  display: block;
  border-radius: 10px;
  text-align: center;
  border: 2px var(--primaryColor) solid;
  font-size: min(14px, 1.1vw);
  margin-top: 18px;
}

.live-preview-button:hover {
  background-color: var(--primaryColor);
  color: var(--tertiaryColor);
}

.image-wrapper {
  background-image: url("../images/project-background.webp");
  display: flex;
  align-items: center;
  height: 99vh;
  border-radius: 25px;
  width: 70%;
  padding: 0px 20px;
  position: sticky;
  top: 5px;
}

.project-image {
  height: auto;
  width: 100%;
  border-radius: 25px;
}

.project-one,
.project-two,
.project-three {
  display: flex;
  width: 100%;
}

.project-image-tablet {
  display: none;
}

.project-button-wrapper {
  display: flex;
  gap: 25px;
}

/* Animations */
.fade {
  animation-name: fade;
  animation-duration: 0.7s;
}
.hidden {
  transform: translateX(-100%);
  transition: all 0.7s;
}
.show {
  transform: translateX(0);
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* CONTACT */
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contact > p,
.contact > div {
  font-size: min(20px, 1.4vw);
  padding-left: clamp(1em, 2vw, 2em);
  padding-right: clamp(1em, 2vw, 2em);
}

/* FOOTER */
footer {
  height: 79px;
  font-size: 20px;
  color: var(--primaryColor);
  line-height: 79px;
  display: flex;
  justify-content: space-between;
  padding-left: clamp(1em, 2vw, 2em);
  padding-right: clamp(1em, 7vw, 7em);
}

footer a {
  color: var(--primaryColor);
}

/* TABLET */
@media only screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }

  /* HEADER */
  nav {
    padding: 15px 0;
  }
  .nav-link {
    gap: min(2em, 4.15vw);
    flex-direction: row;
  }

  /* MAIN */
  section {
    padding-left: 0;
    padding-right: 0;
  }

  /* ABOUT */
  .about {
    padding-left: clamp(1em, 4vw, 4em);
    padding-right: clamp(1em, 4vw, 4em);
    height: auto;
  }

  /* WORK */
  .project-one .project-image {
    display: none;
  }
  .project-two .project-image {
    display: none;
  }
  .project-three .project-image {
    display: none;
  }
  .project-one,
  .project-two,
  .project-three {
    width: min(689px, 100%);
    padding: 2em 0;
  }
  .featured-project-label {
    font-size: 14px;
  }
  .project-title {
    font-size: 32px;
  }
  .project-description-and-live-preview-button {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-description {
    font-size: 20px;
  }
  .live-preview-button {
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .image-wrapper {
    display: none;
  }
  .project {
    width: 100%;
  }
  .project-introduction,
  .project-introduction > * {
    align-items: center;
    padding: 0;
    height: auto;
  }
  .project-image-tablet {
    display: block;
    width: 100vw;
    padding-left: 7px;
    padding-right: 7px;
  }
  .project-button-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .hidden {
    transform: translateX(0);
  }

  /* CONTACT */
  .contact > p {
    font-size: 20px;
  }

  /* FOOTER */
  footer {
    padding-left: clamp(1em, 2vw, 2em);
    padding-right: clamp(1em, 7vw, 7em);
    font-size: min(20px, 120%);
  }
}

/* ADDITION BREAKPOINT FOR FOOTER */
@media only screen and (max-width: 630px) {
  footer {
    flex-direction: column;
    line-height: normal;
  }
}

/* PHONE */
@media only screen and (max-width: 410px) {
  /* HEADER */
  .menu-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }

  .show-menu {
    height: calc(100vh - 45px) !important;
    z-index: 1;
  }
  nav {
    padding: 5px 0;
    display: flex;
    align-items: end;
  }
  .nav-link {
    flex-direction: column;
    width: 100%;
    gap: 2em;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    transition: height 0.7s;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  /* MAIN */
  section {
    padding: 10px 0;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  /* ABOUT*/
  .self-introduction {
    font-size: 14px;
  }
  .my-name {
    font-size: 20px;
  }
  .about-section-button {
    display: none;
  }

  /* WORK */
  .project-description {
    font-size: 14px;
    padding: 5px 25px;
  }
  .project-title {
    font-size: 24px;
    width: 7em;
  }
  .featured-project-label {
    font-size: 10px;
  }
  .project-introduction {
    gap: 0;
  }
  .project-one,
  .project-two,
  .project-three {
    width: auto;
    height: auto;
    background-size: auto;
  }
  .project-description-and-live-preview-button {
    padding: 0;
    width: 100%;
  }
  .live-preview-button {
    font-size: 14px;
    padding: 10px;
    width: 120px;
  }

  /* CONTACT */
  .contact > p {
    font-size: 14px;
  }

  /* FOOTER */
  footer {
    height: 94px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    font-size: 14px;
    line-height: normal;
  }
}
